# Secret of Best Hacker News Post

- In this project the data provided by Hacker News will be analyzed. You can find the dataset [here](https://www.kaggle.com/datasets/hacker-news/hacker-news-posts).
- More specifically two types of post will be compared to find which receives more comments on average. ``Ask HN`` or ``Show HN``
- Lastly, how does time factor affects the number comments on average

In [ ]:
from csv import reader

In [7]:
def extract_data(file):
    """locates file using filepath, reads it, then returns a list of lists"""
    
    opened_file = open(file)
    read_file = reader(opened_file)
    result = list(read_file)
    
    # return both the column headers and the actual data as seperate entities
    return result[0], result[1:]

In [8]:
header, hn = extract_data('hacker_news.csv')

In [9]:
headere

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [16]:
def explore_data(dataset, start, end, n_rows_columns = False):
    
    dataset_slice = dataset[start:end]
    
    for row in dataset_slice:
        print(row)
        print('\n')
        
    if n_rows_columns:
        print('The number of rows: {:,}'.format(len(dataset)))
        print('The number of columns: ', len(dataset[0]))
              
              
#           if rows_and_columns:
#         print('Number of rows: {:,}'.format(len(dataset)))
#         print('Number of columns:', len(dataset[0]))

In [19]:
explore_data(hn, 0, 5, n_rows_columns = True)

['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']


['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']


['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']


['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']


['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']


The number of rows: 20,100
The number of columns:  7

In [26]:
ask_posts = []
show_posts = []
other_posts = []

for row in hn:
    title = row[1]
    if title.lower().startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

In [36]:
template = 'The number of {} posts are: {:,} ({:.0f}%)'
    
    
print(template.format('ask hn', len(ask_posts), len(ask_posts)/len(hn)* 100))
print(template.format('show hn', len(show_posts), len(show_posts)/len(hn)* 100))
print(template.format('other', len(other_posts), len(other_posts)/len(hn)* 100))

The number of ask hn posts are: 1,744 (9%)
The number of show hn posts are: 1,162 (6%)
The number of other posts are: 17,194 (86%)

In [43]:
total_ask_comments = 0
for post in ask_posts:
    n_comments = int(post[4])
    total_ask_comments += n_comments
avg_ask_comments = total_ask_comments / len(ask_posts)
print("The average num of comment in ask posts is: {:.2f}".format(avg_ask_comments))

total_show_comments = 0
for post in show_posts:
    n_comments = int(post[4])
    total_show_comments += n_comments
avg_show_comments = total_show_comments / len(show_posts)
print("The average number of comments in show posts is: {:.2f}".format(avg_show_comments))

The average num of comment in ask posts is: 14.04
The average number of comments in show posts is: 10.32

- As we see. ``Ask posts`` receive on average more comments than their ``Show`` counterparts. **14.04** VS **10.32**

In [44]:
import datetime as dt

In [45]:
result_list = []
for post in ask_posts:
    time_created = post[6]
    n_comments = int(post[4])
    result_list.append(time_created)
    result_list.append(n_comments)
    
for row in result_list[:5]:
    print(row)
# counts_by_hour = {}
# comments_by_hour = {}

8/16/2016 9:55
6
11/22/2015 13:43
29
5/2/2016 10:14